@model CarsManage.Models.Cars_Insurance

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Cars_Insurance</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Insurance_no)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Insurance_no)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Card_no)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Card_no)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date_S)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date_S)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date_E)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date_E)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Remark)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Remark)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cars.Center_no)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cars.Center_no)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Insurance_Company.Company_nm)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Insurance_Company.Company_nm)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
