@model IEnumerable<CarsManage.Models.Insurance>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Insurance_no)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Insurance_nm)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Insurance_Money)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Self_Money)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pay_Money)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Remark)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cars_Insurance.Insurance_no)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Insurance_no)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Insurance_nm)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Insurance_Money)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Self_Money)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pay_Money)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Remark)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cars_Insurance.Insurance_no)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Uid }) |
            @Html.ActionLink("Details", "Details", new { id=item.Uid }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Uid })
        </td>
    </tr>
}

</table>
