@using PagedList
@using PagedList.Mvc
@model IEnumerable<CarsManage.Models.Cars>

@{
    ViewBag.Title = "車輛資料";
}

<h2>SreachCars</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div class="row well">
    <form class="form" role="form">
        物流中心：@Html.DropDownList("center_no", String.Empty)
        車號：@Html.TextBox("car_no")
        噸數：@Html.TextBox("tonnage")
        <br />
        汽油種類：@Html.DropDownList("gas_no", String.Empty)
        廠牌名稱：@Html.DropDownList("brand_no", String.Empty)
        型號：@Html.TextBox("Model")
        <br />
        <button type="submit" class="btn btn-primary">
            <span class="glyphicon glyphicon-search"></span> 查詢
        </button>
    </form>
</div>


@Html.PagedListPager((IPagedList)Model, x => Url.Action("Index", new { page = x }))

<table class="table table-striped table-hover">
    <thead>
        <tr style="background-color: #d3efff;">
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Dlv_Center.Center_nm)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Cars_Company.Company_nm)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Car_no)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Cars_Brand.Brand_nm)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Cc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Cars_State.Carstate_nm)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Dlv_Center.Center_nm)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cars_Company.Company_nm)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Car_no)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cars_Brand.Brand_nm)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cc)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cars_State.Carstate_nm)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Uid }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Uid }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Uid }) |
                    @Html.ActionLink("Copy", "Copy", new { id = item.Uid })
                </td>
            </tr>
        }
    </tbody>
</table>
@Html.PagedListPager((IPagedList)Model, x => Url.Action("SreachCars", new { page = x }))
